# SPDX-License-Identifier: GPL-2.0

config MACH_CANINOS
	bool
	select ARM_AMBA
	select ARM_GIC
	select ARM_GLOBAL_TIMER
	select CACHE_L2X0
	select CLKSRC_ARM_GLOBAL_TIMER_SCHED_CLOCK
	select GENERIC_IRQ_CHIP
	select HAVE_ARM_SCU if SMP
	select HAVE_ARM_TWD if SMP
	select ARCH_REQUIRE_GPIOLIB
	select ARCH_HAS_OPP
	select ARCH_HAS_CPUFREQ
	select PM_OPP if PM	
	select VFP
	select SMP

