config DMA_CANINOS
	bool "Caninos Labrador DMA support"
	depends on ARCH_CANINOS || COMPILE_TEST
	select DMA_ENGINE
	select DMA_VIRTUAL_CHANNELS
	help
	  Enable support for the Caninos Labrador DMA controllers.
