config GPIO_CANINOS
	bool

config PINMUX_CANINOS
	bool

config PINCTRL_CANINOS
	bool "Caninos Labrador pin controller driver"
	depends on ARCH_CANINOS
	select PINMUX
	select PINCONF
	select GPIOLIB
	select GPIOLIB_IRQCHIP
	select OF_GPIO
	select GPIO_CANINOS
	select PINMUX_CANINOS
	help
	  Say yes here to support the gpio/pin control module on
	  Caninos Labrador SBC.

