if ARCH_CANINOS

config PINCTRL_CANINOS
	bool
	select PINMUX
	select GENERIC_PINCONF

config PINCTRL_S900
	bool "Actions S900 pin controller driver"
	depends on ARCH_CANINOS
	select PINCTRL_CANINOS
	help
	  Say yes here to support the gpio/pin control module on
	  Actions S900 SoC.
config PINCTRL_S700
	bool "Actions S700 pin controller driver"
	depends on ARCH_CANINOS
	select PINCTRL_CANINOS
	help
	  Say yes here to support the gpio/pin control module on
	  Actions S700 SoC.
endif
