config RESET_CANINOS
	bool "Caninos Labrador reset controller"
	depends on ARM64 && (ARCH_CANINOS || COMPILE_TEST)
	default (ARM64 && ARCH_CANINOS)
	help
	  This enables the reset controller driver for Caninos Labrador boards.
